*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body{
    overflow-x: hidden;
}

.main-width{
    width: 100%;
    max-width: 100%;
    margin: o auto;
    padding: 0px 20px;
}

.hero{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: url(../img/IMG_1862.jpg) ; 
    background-size: cover;
    background-position: center;
    position: relative;
}

header{
    padding: 5px 0 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

nav .hamb {
    width: 35px;
    height: 24px;
    right: 3%;
    top: 60px;
    z-index: 5;
    background: white;
    position: absolute;
    cursor: pointer;
}

nav .hamb span {
    display: block;
    background: greenyellow;
    width: 100%;
    height: 4px;
}

nav .nav-list {
    list-style: none;
}

nav .nav-list li {
    display: inline-block;
}

nav .nav-list li a{
    display: inline-block;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-left: 210px;
    font-size: 20px;
    font-weight: 500;
}

nav .nav-list li:not(:last-child) a:hover{
    color:orange;
    transition: .3s;
}

nav .nav-list li.btn a{
    display: inline-block;
    background: transparent;
    border: 2px solid;
    padding: 2px;
    border-radius: 30px;
    line-height: 1.3;
    color: orange;
    font-weight: 500;
}

nav .nav-list li.btn:hover a{
    background: orange;
    border: 2px solid grey;
    transition: .4s;
    color: grey;
}

.container {
    padding-top: 175px;
}

.container .hero-text{
    margin-bottom: 40px;
    color: white
}

.container .hero-text h1{
    color: white;
    font-size: 50px;
    font-weight: 900;
    line-height: 1.5;
    margin: 20px 0px 20px;}

span{
    color:orange;
}

.container .hero-text h3{
    color: #eee;
    font-weight: 400px;
    font-size: 30px;
}

.container .hero-text p{
    width: 500px;
    max-width: 100%;
    color: #eee;
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 30px;
}

.social a{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: orange;
    cursor: pointer;
    margin-right: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-bottom: 40px;
}

.social a:hover{
    transform: scale(1.1);
    background: grey;
    transition: .4s;
}

.container .hero-text button{
    background: orange;
    font-size: 17px;
    font-weight: 500;
    line-height: 25px;
    padding: 8px 30px;
    border: 2px solid grey;
    border-radius: 30px;
    cursor: pointer;
}
.container .hero-text button a{
    color: #eee;
}

.container .hero-text button:hover{
    background: transparent;
    border: 2px solid orange;
    color: #eee;
    transition: .4s;
}

.bottom{
    margin-top: 245px;
    padding-bottom: 10px;
}

.about{
    width: 100%;
    height: 100vh;
    background: linear-gradient(black,grey);
    padding: 50px 15px;
}

.about img{
    height: 800px; 
    padding: 20px;
    border-radius: 50px;
    border: 20px;
    background-color: grey;
    
}

.about-text{
    width: 600px;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 500px;
}

.main{
    width: 100%;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.about-text h2{
    text-align: center;
    font-size: 70px;
    text-transform: capitalize;
    margin-bottom: 20px;
    color: #eee;
}

.about-text h5{
    text-align: center;
    letter-spacing: 3px;
    font-size: 25px;
    margin-bottom: 30px;
    text-transform: capitalize;
    color: blueviolet;
}

.about-text p{
    text-align: center;
    margin-bottom: 30px;
    color: #eee;
}

button{
    background-color: grey;
    color: white;
    text-decoration: none;
    border: 3px solid transparent;
    border-radius: 30px;
    padding: 10px 10px;
    transition: .4s;
}

button:hover{
    background-color: transparent;
    border: 3px solid;
    cursor: pointer;
}

.btn {
    text-align: center;
}

.btn a{
    color: #eee;
}
