*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body{
    overflow-x: hidden;
}

.main-width{
    width: 100%;
    max-width: 100%;
    margin: o auto;
    padding: 0px 20px;
}

.hero{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    padding-bottom: 60px;
    background: url(../img/IMG_1862.jpg) ; 
    background-size: cover;
    background-position: center;
    position: relative;
}

header{
    padding: 40px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .hamb {
    width: 35px;
    height: 24px;
    right: 3%;
    top: 60px;
    z-index: 5;
    background: white;
    position: absolute;
    cursor: pointer;
}

nav .hamb span {
    display: block;
    background: greenyellow;
    width: 100%;
    height: 4px;
}

nav .nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    flex-direction: column;
}

@media (min-width: 768px){
    nav .nav-list{
        flex-direction: row;
    }
}

nav .nav-list li{
    margin-bottom: 10px;
}

@media (min-width: 768px){
    nav .nav-list li{
        margin-bottom: 0px;
        margin-right: 80px;
    }
}

li:nth-last-child() {
    margin-right: 0px;
    margin-bottom: 0px;
}

nav .nav-list li a{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
}

nav .nav-list li:not(:last-child) a:hover{
    color:orange;
    transition: .3s;
}

nav .nav-list li.btn a{
    display: inline-block;
    background: transparent;
    border: 2px solid;
    padding: 2px 15px;
    border-radius: 30px;
    line-height: 1.3;
    color: orange;
    font-weight: 500;
}

nav .nav-list li.btn:hover a{
    background: orange;
    border: 2px solid grey;
    transition: .4s;
    color: grey;
}

.container {
    padding-top: 175px;
}

.container .hero-text{
    margin-bottom: 40px;
    color: white
}

.container .hero-text h1{
    color: white;
    font-size: 50px;
    font-weight: 900;
    line-height: 1.5;
    margin: 20px 0px 20px;}

span{
    color:orange;
}

.container .hero-text h3{
    color: #eee;
    font-weight: 400px;
    font-size: 30px;
}

.container .hero-text p{
    width: 500px;
    max-width: 100%;
    color: #eee;
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 30px;
}

.social a{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: orange;
    cursor: pointer;
    margin-right: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-bottom: 40px;
}

.social a:hover{
    transform: scale(1.1);
    background: grey;
    transition: .4s;
}

.container .hero-text button{
    background: orange;
    font-size: 17px;
    font-weight: 500;
    line-height: 25px;
    padding: 8px 30px;
    border: 2px solid grey;
    border-radius: 30px;
    cursor: pointer;
}
.container .hero-text button a{
    color: #eee;
}

.container .hero-text button:hover{
    background: transparent;
    border: 2px solid orange;
    color: #eee;
    transition: .4s;
}

.bottom{
    position: absolute;
    left: 20px;
    bottom: 20px;
}

.about{
    width: 100%;
    height: 100%;
    background: black;
    padding: 50px 15px;
}

.about img{
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 50px;
    border: 20px;
    background-color: grey;
    
}



.main{
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.about-text{
    width: 100%;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
}

.about-text h2{
    text-align: center;
    font-size: 70px;
    text-transform: capitalize;
    margin-bottom: 20px;
    color: #eee;
}

.about-text h5{
    text-align: center;
    letter-spacing: 3px;
    font-size: 25px;
    margin-bottom: 30px;
    text-transform: capitalize;
    color: blueviolet;
}

.about-text p{
    text-align: center;
    margin-bottom: 30px;
    color: #eee;
}

button{
    background-color: grey;
    color: white;
    text-decoration: none;
    border: 3px solid transparent;
    border-radius: 30px;
    padding: 10px 10px;
    transition: .4s;
}

button:hover{
    background-color: transparent;
    border: 3px solid;
    cursor: pointer;
}

.btn2 {
    text-align: center;
}

.btn2 a{
    color: #eee;
}

@media only screen and (max-width: 768px) {
    
    .main {
    flex-direction: column;
    text-align: center;
    }
    .hero-text h1{
        width: 100%;
        display: flex;
        font-size: 20px;
    }
    .input {
        width: 100%;
        display: flex;
        font-size: 20px;

    }
    .about-text h2{
        width:100%;   
    }
    .about-text h5{
        width:100%;  
    }
    .about-text p{
        width:100%; 
    }

    .btn2 {
        width:100%;  
    }
}


.title h3 {
    width: 100%;
    height: 100%;
    font-size: 70px;
    text-align: center;
    background: #171717;
    color: white;
}

.title h5 {
    width: 100%;
    height: 100%;
    font-size: 25px;
    text-align: center;
    color: blueviolet;
    background: #171717;
    
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 150px;
    padding: 20px;
    grid-gap: 10px;
    background: #171717;
}



.galleryimage {
    width: 100%;
    height: 100%;
    object-fit:cover;
    
}

.gallerycontainer {
    position: relative;
}

.gallerycontainer:nth-child(1) {
    grid-row-start: span 2;
}

.gallerycontainer:nth-child(2) {
    grid-row-start: span 2;
}


.gallerycontainer:nth-child(5) {
    grid-column-start: span 2;
}

.gallerycontainer:nth-child(4) {
    grid-row-start: span 2;
}

.gallerycontainer:nth-child(6) {
    grid-row-start: span 2;
}

.gallerycontainer:nth-child(8) {
    grid-row-start: span 2;
}

.gallerycontainer:nth-child(10) {
    grid-column-start: span 3;
    grid-row-start: span 2;
}

@media (min-width:768px) {
    .gallery{
        grid-template-columns: repeat(4, 1fr);
        margin: auto;
    }
    .gallerycontainer:nth-child(3){
        grid-row-start: span 2;
    }

    .gallerycontainer:nth-child(4){
        grid-row-start: span 4;
    }

.gallerycontainer:nth-child(5){
    grid-column-start: span 2;
    grid-row-start: span 2;
}

.gallerycontainer:nth-child(7){
    grid-row-start: span 2;
}

.gallerycontainer:nth-child(9){
    grid-column-start: span 2;
    grid-column-start: span 2;
    grid-row-start: span 2;
}

.gallerycontainer:nth-child(10) {
    grid-column-start: span 4;
    grid-row-start: span 2;
}
}

.form{
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s .9s;
    --transform: translateY(-100vh);
    --transition: transform .8s;
}

.form--show{
opacity: 1;
pointer-events: unset;
transition: opacity .6s;
--transform: translateY(0);
--transition: transform .8s .8s;
}

.formulario {
    margin: auto;
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    background: grey;
    border-radius: 9px;
    padding: 3em 2.5em;
    transform: var(--transform);
    transition: var(--transition);
}

.formulario p {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}


.btn_close{
    width: 100%;
    max-width: 60px;
    text-decoration: none;
    margin-top: 10px;
    color: white;
    background-color: #f26250;
    padding: 1px 2px;
    border: 1px solid;
    border-radius: 6px;
    display: flex;
    font-weight: 300;
    transition: background-color .3s;
}

.btn_close:hover {
    color: #f26250;
    background-color: white;
}

.contenedor {
    width: 100%;
    background-color: #101010;
    display: grid;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.contenedor h2{
    font-size: 40px;
    text-transform: capitalize;
    width: 100%;
    color: violet;
    background-color: #101010;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contenedor .button {
    display: inline-block;
    background-color: brown;
    color: white;
    text-decoration: none;
    border: 2px solid white;
    font-weight: bold;
    padding: 10px 25px;
    margin: 60px;
    border-radius: 20px;
    transition: transform 0.4s;
}

.contenedor .button:hover {
    background-color: white;
    color: brown;
    border: 2px solid;
    cursor: pointer;
}

.contenido {
    color: white;
}

.card1 {
    width: 100%;
    max-width: 400px;
    margin: 20px;
    border-radius: 20px;
    overflow: hidden;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    padding: 10px;
    margin-bottom: 25px;
    background-color: rgb(19, 19, 19);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
}

.card1 img {
    width: 100%;
    max-width: 400px;
}

.container2 {
    background-color: #101010;
    width: 100%;
    max-width: 400px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

@media (min-width: 768px){
    .container2{
      flex-direction: row;
      justify-self: center;
      width: 100%;
      max-width: 90%;
  }
  }

.footer {
    background: grey;
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}

.footer-text p{
    font-size: 20px;
    padding: 30px;
    text-align: center;
}

.footer-iconTop a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid black;
    background: #f26250;
}

.footer-iconTop a i{
display: flex;
font-size: 20px;
color: #101010;
}